<h1>Results</h1>

<p>Correct: {{counter}}
</p>

<p>Incorrect: {{incorrect}}</p>

<form method="POST" action="/start-over">
<input type="submit" value="Retry">
</form>

<form method="POST" action="/highscores">
<input type="submit" value="Highscores">
</form>