<p id="instruction">Welcome to the Office Trivia Game! Test your knowledge by navigating through 10 tough Office questions. Enter your name and
    press 'Start' to begin.</p>

    <br>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="POST" action="/question-one">
            <input type="input" name="name" value="" placeholder="Enter your name..." class="name-input">
            <input  class="start btn-outline-primary button " type="submit" value="Start">
        </form>
    </div>
</div>


<br>
<br>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="POST" action="/highscores">
            <input id="highscores" type="submit" value="Highscores" class="btn-outline-primary button">
        </form>
    </div>
</div>