   <form method="POST" action="/question-nine">
 
 <h2>Question Eight</h2>
        <p>During the 'Job Fair' episode, Pam introduces Michael to a student interested in Dunder Mifflin. Michael was very uninterested in having this kid intern for a summer. What was that kids name?</p>

        <input type="radio" name="question_eight" value="Corey">Corey
        <br>

        <input type="radio" name="question_eight" value="Sam">Sam
        <br>

        <input type="radio" name="question_eight" value="Justin">Justin
        <br>

        <input type="radio" name="question_eight" value="Billy">Billy
        <br>
        <br>
        <input type="submit" value="submit">
        </form>