<form method="POST" action="/question-three">

        <h2>Question Two</h2>
        <p>During the 'Beach Games' episode how many hot dogs does Andy eat to win the competition?</p>

        <input type="radio" name="question_two" value="12">12
        <br>

        <input type="radio" name="question_two" value="14">14
        <br>

        <input type="radio" name="question_two" value="13">13
        <br>

        <input type="radio" name="question_two" value="11">11
        <br>
        <br>

        <input type="submit" value="submit">
        <br>
        </form>