   <form method="POST" action="/results">
 
 <h2>Question Ten</h2>
        <p>During the 'Business Trip' episode Oscar brings sandwiches on the plane to share with Andy and Michael. What type of sandwiches did he bring?</p>

        <input type="radio" name="question_ten" value="Chicken Salad">Chicken Salad
        <br>

        <input type="radio" name="question_ten" value="Tuna">Tuna
        <br>

        <input type="radio" name="question_ten" value="Peanut Butter and Jelly">Peanut Butter and Jelly
        <br>

        <input type="radio" name="question_ten" value="Egg Salad">Egg Salad
        <br>
        <br>
        <input type="submit" value="submit">
        </form>