<form method="POST" action="/question-two">

        <h2>Question One</h2>
        <p>During their first weigh in for the weight loss challenge, Pam is asked to step off the scale after they initially measure their total weight. They rewiegh themsevles revealing Pam's weight. Happen to remember her weight?</p>

        <input type="radio" name="question_one" value="126">126
        <br>

        <input type="radio" name="question_one" value="124">124
        <br>

        <input type="radio" name="question_one" value="128">128
        <br>

        <input type="radio" name="question_one" value="120">120
        <br>
        <br>
        <input type="submit" value="submit">
        <br>
        
        </form>