<form method="POST" action="/question-five">

<h2>Question Four</h2>
        <p>During the 'Blood Drive' episode, Stanley and Phyllis are prevented from getting free cookies because they used what material to cover their wounds?</p>

        <input type="radio" name="question_four" value="Gauze with tape">Gauze with tape
        <br>

        <input type="radio" name="question_four" value="Bandaids">Bandaids
        <br>

        <input type="radio" name="question_four" value="Cotton with tape">Cotton with tape
        <br>

        <input type="radio" name="question_four" value="Bandages">Bandages
        <br>
        <br>
        <input type="submit" value="submit">
        </form>