  <form method="POST" action="/question-eight">
  
   <h2>Question Seven</h2>
        <p>During the 'Product Recall' episode, Michael gifts Barbara Allen a check with a value of what?</p>

        <input type="radio" name="question_seven" value="3 Months or 20 Reams Free">3 Months or 20 Reams Free
        <br>

        <input type="radio" name="question_seven" value="3 Months or 25 Reams Free">3 Months or 25 Reams Free
        <br>

        <input type="radio" name="question_seven" value="6 Months or 20 Reams Free">6 Months or 20 Reams Free
        <br>

        <input type="radio" name="question_seven" value="6 Months or 25 Reams Free">6 Months or 25 Reams Free
        <br>
        <br>
        <input type="submit" value="submit">
        </form>