 <form method="POST" action="/question-four">
 <h2>Question Three</h2>
        <p>When Michael and Dwight meet Ryan at a New York club, Ryan introduces them to his 'hobbit like' friend. What was his name again?</p>

        <input type="radio" name="question_three" value="Tom">Tom
        <br>

        <input type="radio" name="question_three" value="Tim">Tim
        <br>

        <input type="radio" name="question_three" value="Tristin">Tristin
        <br>

        <input type="radio" name="question_three" value="Troy">Troy
        <br>
        <br>

        <input type="submit" value="submit">
        <br>

        </form>