   <form method="POST" action="/question-ten">
 
 <h2>Question Nine</h2>
        <p>During the 'Business School' episode, Michael is one of the only ones to show up to Pam's art exhibit. When she gives him a hug to thank him she feels something in his pocket. What is the name of that candy bar?</p>

        <input type="radio" name="question_nine" value="Chunky">Chunky
        <br>

        <input type="radio" name="question_nine" value="Chubby">Chubby
        <br>

        <input type="radio" name="question_nine" value="Take5">Take5
        <br>

        <input type="radio" name="question_nine" value="Yankee Bar">Yankee Bar
        <br>
        <br>
        <input type="submit" value="submit">
        </form>