<form method="POST" action="/question-seven">

<h2>Question Six</h2>
        <p>In the 'China' episode, how many total cities in China does Michael cite having more than 1 million people each?</p>

        <input type="radio" name="question_six" value="56">56
        <br>

        <input type="radio" name="question_six" value="62">62
        <br>

        <input type="radio" name="question_six" value="58">58
        <br>

        <input type="radio" name="question_six" value="66">66
        <br>
        <br>
        <input type="submit" value="submit">
        </form>